:root{
  --blanco:#fff;
  --negro: #000;
  --fuenteSecundaria: 'Lato', sans-serif;
  --fuentePrincipal: 'Roboto', sans-serif;

}
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    font-family: var(--fuentePrincipal);
}
p{
    margin: 0;
    padding: 1rem 0;
    line-height: 2.8rem;
}

video{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-position: center center;
}
.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

img{
    max-width: 100%;
    display: block;
}

h2{
    font-size: 5.8rem;
    font-weight: 900;
    margin: 0;
}
h3{
    font-size: 4rem;
    font-weight: 900;
    margin: 0;
}

/* ------ HEADER    --------------  */
.header{
    background-image: url(../img/hero.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header__contenido{
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.contacto nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    column-gap: 1rem;
    padding: 1rem;
    align-items: center;
}

h1{
    font-size: 3rem;
    font-weight: 100;
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    text-align: center;
}

h1 span{
    font-weight: 900;
}

.contacto{
    margin: 1rem 0 4rem 0;
    padding: 2rem;
}
.telefono{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}



nav a{
    text-decoration: none;
    font-size: 2rem;
    color: var(--blanco);
    padding: 1rem;
    font-weight: 300;
    transition: all 0.3s;

}
nav a:hover{
    transform: scale(1.2);
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0.233);
    border-radius: 2rem;
    transform: skewx(15deg);
}

.header_texto_bottom{
   text-align: right;
}
.header_texto_bottom{
    text-align: center;
    padding: 2rem;
    font-weight: 100;
}
.header_texto_bottom p:nth-child(1){
    font-weight: 700;
    font-size: 3rem;
}

@media (min-width:768px ){
    
    .barra_contacto{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        margin-top: 1rem;
    }
    .contacto nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        column-gap: 2rem;
        padding: 2rem;
    }
    h1{
        font-size: 6rem;
        font-weight: 100;
        margin: 1rem 0 4rem 0;
        padding: 2rem;
    }
    .telefono{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 2rem;
    }
    .header_texto_bottom{
        text-align:right;
        padding: 4rem;
    }
    .header_texto_bottom p:nth-child(1){
        font-weight: 900;
        font-size: 5rem;
    }
}



/* -----SECCION SOBRE NOSOTROS -----*/

.sobre_nosostros{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    background-image: url(../img/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
}

.sobre_nosotros_texto{
    background-color: var(--blanco);
    padding: 4rem;
    text-align: justify;
}

@media (min-width: 768px){

    .sobre_nosostros{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    background-image: url(../img/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-top: 5rem;
    }
    .sobre_nosotros_texto{
        grid-area: 1/2/2/4;
    }

    .sobre_nosotros_texto h2{
        padding: 2rem 0;
    }
}


/* ------SECCION DE MODELOS --------*/
.modelo1,.modelo2,.modelo3{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    background-repeat: no-repeat;
    background-position: bottom center;
}
.modelo1{
    background-image: url(../img/modelo_basico.jpg);
}
.modelo2{
    background-image: url(../img/modelo_premier.jpg);
}
.modelo3{
   background-image: url(../img/modelo_elite.jpg);
}

.modelos h2{
    margin-top: 5rem;
}

.modelo h3{
    padding: 4rem 0;
}

.btn{

    -webkit-text-size-adjust: 100%;
    --blanco: #FFF;
    --negro: #111111;
    --gris: #343A40;
    --fuentePrincipal: 'Raleway', sans-serif;
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
    box-sizing: inherit;
    text-decoration: none;
    color: var(--gris);
    background-color: var(--blanco);
    border: 1px solid var(--gris);
    padding: .5rem 2rem;
    transition: background-color .3s;
}


@media (min-width: 768px){
    .modelo1,.modelo2,.modelo3{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(2,1fr);
        background-repeat: no-repeat;
        background-position: bottom center;
    }
    .modelo1{
        background-position: center right;
    }
    .modelo1 .sobre_nosotros_texto{
        grid-area:2/1/3/2 ;
    }
    .modelo2{
        background-position: center left;
    }
    .modelo2 .sobre_nosotros_texto{
        grid-area:1/2/2/3 ;
    }

    .modelo3{
        background-position: center right;
    }
    .modelo3 .sobre_nosotros_texto{
        grid-area:1/1/2/2;
    }
}


/* ---------- GALERIA--------*/
.foto img{
    
    object-fit: cover;
    height: 100%;
    border-radius: 1rem;
    transition: all 0.4s;
}
.foto img:hover{
   transform: scale(1.02);
}

.galeria_contenedor h2{
    padding: 4rem 0;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);

    gap: 1rem;
}
.galeria .foto:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/3;
}
.galeria .foto:nth-child(6){
    grid-column: 1/2;
    grid-row: 2/4;
}
.galeria .foto:nth-child(3){
    grid-row: 3/5;
}

@media (min-width: 768px){
    .galeria{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
    
        gap: 2rem;
    }

    .galeria .foto:nth-child(2){
        grid-area:2/1/4/2 ;
    }
    .galeria .foto:nth-child(3){
        grid-area:1/2/2/3 ;
    }
    .galeria .foto:nth-child(4){
        grid-area:2/2/3/3 ;
    }
    .galeria .foto:nth-child(6){
        grid-area:3/2/4/3 ;
    }
    .galeria .foto:nth-child(6){
        grid-area:1/3/3/4 ;
    }
    .galeria .foto:nth-child(7){
        grid-area:3/3/4/4 ;
    }
    
}

/* footer  */


footer{
    color: var(--blanco);
    background-image: url(../img/footer_bg.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    margin-top: 4rem ;
}

footer .pie{
    text-align: center;
    background-color: #111314a1;
    padding: 0;
}

.barra_contacto{

}